!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h3
      Приветствуем #{@user.username}.
    %p
      Вы были успешно зарегистрированы на HardRandom.com.</br>
      Для подтверждения вашей учетной записи перейдите по ссылке:</br>
      = @url
    %p
      С уважением, команда HardRandom.com.
