#login
  margin: 80px auto 30px
  width: 80%
  min-width: 280px
  max-width: 400px

  small
    font-size: 14px
    padding-top: 7px
    float: right

  .btn
    margin-top: 8px
    float: right

  input[type="checkbox"]
    margin: 0 5px 0 0
