.photo
  position: relative
  margin-bottom: 20px

  img
    width: 100%

    @media (min-width: 768px)
      height: 420px

  span
    display: inline-block
    position: absolute
    text-align: center
    bottom: 0px
    left: 0px
    width: 100%
    color: $tab-text-color
    font-size: 20px
    background-color: rgba(0,0,0,.4)
    padding: 10px 30px

.well
  min-height: 200px

.member-social
  .btn
    margin: 1px
    width: 40px
    color: $well-bg
    background: $main-color
    padding: 4px
