.nav-justified
  margin-bottom: 20px

.tourney-table
  th
    font-weight: normal
    padding: 2px !important

  tbody tr th
    background: $main-color
    color: $tab-text-color

.queue-th
  background: $active-background-color
  color: $active-text-color

#buttons .dropdown-menu
  left: -67px

#brackets
  img
    width: 20px
    height: 20px
    margin-top: -2px

#groups
  th
    text-align: center

  .label
    font-weight: normal
    font-size: 100%

  img
    width: 20px
    height: 20px
    margin-top: -4px
