.avatar
  border-radius: 0

.achievement
  margin-top: 20px

.reward
  width: 50px

.gold
  color: $gold-color

.table-input
  margin-bottom: 0px
  padding: 0 0 0 5px
  width: 100%

#avatar_uploader
  .preview
    margin-top: 15px
    height: 100% !important
