.avatar
  border-radius: 0
  max-width: 100%

.achievement
  margin-top: 20px

.reward
  width: 50px

.gold
  color: $gold-color

.hard-table tr td
  input,
  select
    margin-bottom: 0px
    padding: 0 0 0 5px
    width: 100%

  img
    margin-bottom: 10px
    width: 150px
    height: 150px
