.span8
  %article.well.well-raised
    %h2
      %a{href: "/rules"} Правила проведения турниров
    %hr
    #rules
      %h4 Регистрация на турнир:
      %ul
        - if env['warden'].user
          %li Заполните данные в <a href="/user/#{env['warden'].user.username}">настройках профиля</a> (BattleTag, Skype). 
        -else
          %li Заполните данные в настройках профиля(BattleTag, Skype). 
        %li Зайдите в раздел <a href='/tournaments'>Турниры</a>, выберите турнир, в котором Вы хотите принять участие. В меню этого турнира нажмите кнопку «Записаться». Во всплывающем списке выберите класс, за который Вы хотите участвовать в турнире. 
        %li Смена класса по ходу турнира запрещена!
      %h4 Проведение матчей:
      %ul
        %li Матчи начинаются в строго установленное время, которое указано в меню турнира во вкладке «Инфо».
        %li Найдите Вашего соперника в турнирной сетке (вкладка «Сетка» в меню турнира).
        %li Посмотрите его Skype и BattleTag в списке участников (вкладка «Участники» в меню турнира) или в его профилe.
        %li Обратите внимание на класс, под которым Ваш соперник зарегистрировался на турнир. Если он отличается от того, которым он начал матч против Вас, обязательно сообщите об этом судье турнира.
        %li Добавьте своего будущего соперника в игре при помощи BattleTag, если соперник никак не реагирует на Ваши действия, попробуйте связаться с ним в Skype.
        %li После того, как сыгран матч сделайте скриншот, где ясно видно кто победитель, а так же четко видны ники обоих участников. 
      %h4 Неявка на турнир:
      %ul
        %li Если Ваш соперник не дал о себе знать в течение 10 минут с начала матча, ему присуждается техническое поражение, а Вы считаетесь победителем.
        %li Сделайте скриншоты Ваших попыток связи с оппонентом.
      %h4 Технические проблемы во время матчей:
      %ul
        %li Если во время игры у Вас возникли технические проблемы и Вы не можете продолжить игру, то Вам необходимо, по возможности, сообщить об этом сопернику и попросить его переиграть отдельно взятый матч.
        %li В том случае, если соперник согласен переиграть, то у Вас есть 10 минут для устранения неисправности. Если по истечении этого времени Вы отказываетесь от переигровки или не выходите на связь, то Вам присуждается техническое поражение.
        %li Если соперник не согласен переигрывать, то Вам присуждается техническое поражение.
        %li Если проблемы возникли у Вашего соперника, необходимо сделать скриншоты всех моментов, связанных с проблемами у оппонента (отсутствие в Skype и т.д.).
      %h4 Занесение результатов: 
      %ul
        %li Результаты заносятся во вкладку «Результаты» в меню турнира.
        %li Если матч состоялся, укажите итоговый счет в формате:<br>BattleTag#1234 2:1 BattleTag#4567
        %li В случае неявки оппонента или возникновении других событий, препятствующих проведению игры, опишите сложившуюся ситуацию и приложите скриншоты в качестве подтверждения.
        %li Ожидайте пока судья занесет результаты в сетку и Вы продвинетесь в следующий раунд.
        %li Флуд во вкладке «Результаты» строго запрещен.
      %h4 Общие правила: 
      %ul
        %li Запрещены оскорбления соперников и неспортивное поведение.
        %li Время отсчета первой игры стартует с началом турнира, а всех последующих игр - с момента, когда становится известен соперник.
        %li Запрещено менять класс героя в течение одного турнира.
        %li Разрешено менять колоду между матчами.
        %li Запрещено флудить во вкладке «Результаты» в меню турнира. Туда заносятся только результаты по стандартной форме.
        %li Делайте скриншоты в любых нестандартных или проблемных ситуациях. Это ваша гарантия на случай неспортивного поведения оппонента.
        %li Участник, уличенный в мошенничестве с результатами, будет предан анафеме и забанен.
      %h4 Обращение к судье:
      %ul
        %li Все контактные данные для обращения к судье турнира будут указаны во вкладке «Инфо» в меню турнира.
        %li Обращаясь к судье, пишите ник, под которым Вы принимаете участие в турнире, а так же четко и коротко формулируйте проблему.
        %li Транслит при обращении к судье приравнивается к толстому троллингу и карается дисквалификацией.
        %li Судья оставляет за собой право принимать решение в различных спорных ситуациях, а так же в ситуациях, неописанных в правилах. Так же судья турнира всегда сам принимает решение о степени наказания игрока, нарушающего правила. Наказание может быть от предупреждения до пожизненного бана.
      %h4 Получение призовых:
      %ul
        %li Если Вы попали в призовые места на турнире, то Вам необходимо связаться с судьей турнира и сообщить ему реквизиты для оплаты (номер кошелька, номер телефона и т.п.).
        %li На ваш выбор мы можем зачислить призовые на кошелек <a href='https://money.yandex.ru/'>Яндекс Деньги</a>, <a href='https://qiwi.ru'>QIWI</a> или <a href='http://webmoney.ru'>WebMoney</a>. Также, мы можем зачислить выигрыш на Ваш мобильный телефон.
        %li Выигрыш будет перечислен по указанным реквизитам в течение 3-5 дней с момента Вашего обращения.
        %li В будущем, мы введем большее количество способов получения выигрышей.
      %h4 Форматы проведения турниров:
      %ul
        %li Системы проведения турниров:
        %ul
          %li Single Elimination или Олимпийская система.
          %li Double Elimination или Олимпийская система с выбыванием после двух поражений.
      %ul
        %li Форматы проведения серий:
        %ul
          %li bo1 – до одной победы.
          %li bo3 – до двух побед.
          %li bo5 – до трех побед.
      %ul
        %li Информация о системе проведения турнира и серий матчей в нем, будет содержаться во вкладке «Инфо» в меню турнира.
      %h4 Заключение:
      %ul
        %li Для получения удовольствия от турнира, уважительно относитесь к сопернику. Спорные моменты старайтесь решать между собой, не доводя их до конфликта с дальнейшим обращением к судье турнира.
        %li Не опаздывайте к началу матчей – цените время других игроков.
        %li Если Вы зарегистрировались на турнир, но по каким-либо причинам не сможете принять в нем участие, по возможности, предупредите об этом организаторов.
