.span8
  %article.well.well-raised
    %h2
      %a{href: "/tournaments"} Наши турниры
    %hr
    - @tournament.each do |tournament|
      %p.player-list.shadow
        %a.gray{href: "/tournament/#{tournament.id}"}
          = tournament.title
        %span.pull-right
          = tournament.date
