html {
  height: 100%;
}

body {
  font-family: 'Noto Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
  background-image: url(../img/wood.png);
  height: 100%;
}

#rules a {
  color: #0088CC;
}

#main {
  background-image: url("../img/chicken.png");
  background-size: cover;
  color: #FFFFFF;
  padding-top: 150px;
}

.minipic {
  width: 24px;
  height: 24px;
}

.table-input {
  margin-bottom: 0px;
  padding: 0 0 0 5px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #214D60;
}

.player-list {
  background-color: #235064;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #2C2C2C;
  color: #CCCCCC;
  margin: 0 7px 12px;
  padding: 7px 8px 4px 10px;
  text-shadow: 2px 2px 2px #111111;
}

.gray {
  color: #CCCCCC;
}

/* fail disign */

div.jQBracket .team.lose div.score {
    color: #000000;
}

div.jQBracket .team.win div.score {
    color: #000000;
}

/*
.well-raised {
  background-color: #FFE4B5;
  border-color: #FFE4B5;
}

hr {
  border-color: #DEB887;
}

.nav-tabs > li > a:hover {
  background-color: #DEB887;
  border-color: #DEB887 #DEB887 rgba(0, 0, 0, 0);
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: #DEB887;
  border-color: #DEB887 #DEB887 rgba(0, 0, 0, 0);
}

.nav-tabs {
    border-bottom: 1px solid #DEB887;
}
*/

/* Stiky footer */
#wrap {
  min-height: 100%;
}

#content {
  padding-bottom: 150px;
}

#footer {
  clear: both;
  margin-top: -150px;
  padding: 20px 0px 0px 20px;
}
