.green
  color: #3E8732

.red
  color: #E32B1E

textarea
  width: 100%
  margin-bottom: 5px
  padding: 7px

.full-input
  width: 100%
  margin-bottom: 10px
  padding: 4px 6px

.upload_preview
  width: 150px
  height: 150px
  margin: 15px 0

body.mce-content-body
  img
    margin: 5px 10px 0 0
    max-width: 100%

  p
    margin: 0 0 18px

.thumbnail
  padding: 0px
  border: none
  background-color: #FFF

  img
    width: 100%

  .content
    padding: 10px

.thumbnail:hover
  -ms-transform: scale(1.02,1.02)
  -webkit-transform: scale(1.02,1.02)
  transform: scale(1.02,1.02)

.spotlight
  margin-bottom: 20px

h2
  color: $active-text-color

.streams
  background: url(/assets/streams_bg.png) no-repeat
  background-position: center
  background-color: #071221
  position: relative
  width: 100vw
  left: calc(-50vw + 50%)
  padding: 20px 0px 50px 0px
