html, body
  height: 100%

body
  font-family: 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif
  background-color: $body-color
  color: $main-color

.well
  background-color: $content-background-color
  border-radius: 0px

a
  color: $links-color
  text-decoration: none !important

a:focus
  outline: none

.green
  color: $green-color

.red
  color: $red-color

textarea
  width: 100%
  margin-bottom: 5px
  padding: 7px

.minipic
  width: 24px
  height: 24px

.full-input
  width: 100%
  margin-bottom: 10px
  padding: 4px 6px

tbody tr th
  background: $main-color
  color: $tab-text-color

.dropdown-menu
  border-radius: 0
  z-index: 1060
