.chevron
  margin: -15px
  width: 30px
  position: absolute
  top: 50%
  font-size: 40px

#streams-carousel
  .carousel-control
    background-image: none

  .carousel-indicators
    bottom: -30px

#spotlight-carousel
  @media (max-width: 991px)
    margin-bottom: 20px

.main-image
  margin-bottom: 20px

  @media (min-width: 992px)
    margin-bottom: 30px

  .carousel-caption
    bottom: -10%

    @media (min-width: 768px)
      bottom: 15%

    @media (min-width: 992px)
      bottom: 25%
