#wrap
  min-height: 100%
  padding-bottom: 120px

footer
  clear: both
  margin-top: -120px
  padding-top: 10px
  background: #C3C2C2

  .social
    margin-top: 27px

    .btn
      margin: 4px
      width: 48px
      color: $well-bg
      background: $main-color
      padding: 5px

@media (max-width: 768px)
  .social
    margin: 0 !important
