$footer-height: 50px

html, body
  height: 100%

.wrap
  min-height: 100%
  padding-bottom: $footer-height

footer
  min-height: $footer-height
  margin-top: - $footer-height
  background: $main-color

  .copyright
    color: #FFF
    font-size: 14px
    margin-top: 15px
    margin-left: 10px

  .social
    margin-top: 10px
    margin-bottom: 10px

    @media (min-width: 992px) and (max-width: 1200px)
      margin-right: 15px

    a
      padding: 10px
      color: #FFF

    @media (min-width: 992px)
      text-align: right
