#wrap
  min-height: 100%
  padding-bottom: 90px

footer
  margin-top: -90px
  background: $footer-bg

  .copyright
    font-size: 16px
    margin-top: 35px

  .social
    margin: 21px 30px 21px 0px

  .col-xs-7
    margin-right: 25px

    .btn
      margin: 4px
      width: 48px
      color: $well-bg
      background: $main-color
      padding: 5px
