.navbar
  text-transform: uppercase

.logo
  img
    margin: 0px 15px 0px 15px
    width: 50px

.nav-user
  text-transform: none

  img
    float: left
    margin: -2px 5px 0px 0px

.lang-ru
  float: left
  padding-right: 2px !important

.lang-en
  float: left
  padding-left: 2px !important
