aside .nav li a
  padding: 0px 25px

  .row
    div
      padding: 0px 5px

.dropdown-header
  text-transform: uppercase
  color: $main-color
  font-size: 14px
  font-weight: bold
  padding: 3px 15px
