#bracket
  #groups
  - if @tournament.standings
    #brackets
  - else
    - if logged_in? && current_user.group[/admin/]
      %button#shuffle.btn.btn-warning Сгенерить сетку
    - else
      %p
        Турнирная сетка будет сформирована после окончания периода Check-in.
