#players-list
  - seats = @tournament.seats
  %table.table.table-responsive.tourney-table
    %tbody
      - players = @tournament.kinds.order(created_at: :asc).to_a
      - @check_in_time = @tournament.check_in < Time.now
      = render partial: "player", collection: players.first(seats).reverse
      - unless players[seats..-1].nil?
        %tr
          %th.queue-th.text-center{colspan: "7"} В очереди:
        = render partial: "player", collection: players[seats..-1]
