.col-md-8
  .well
    %h2
      = link_to @video.title, video_path(@video.youtube_hash)
    %hr
    .embed
      %iframe{allowfullscreen: '', frameborder: '0', src: "//www.youtube.com/embed/#{@video.youtube_hash}"}
