h2
  = t('views.news.news')
hr
.row
  = render partial: 'post', collection: @posts
/ Workaround for https://github.com/amatsuda/kaminari/issues/572
= paginate Post.where.not(published_at: nil).page(params[:page]).per(12)
