// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'active_admin/mixins'
@import 'active_admin/base'
@import 'font-awesome'
@import 'variables'

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body
  font-size: 14px
  font-family: $font-family-base

.mce-tinymce
  width: calc(80% - 2px) !important
  display: inline-block !important

.mce-btn
  button
    border-radius: 0

input.mce-textbox
  padding: 0

.row-content
  img
    margin: 5px 10px 0 0
    max-width: 100%

  p
    margin: 0 0 18px

  a
    color: $link-color
    text-decoration: $link-hover-decoration

  a:hover, a:focus
    color: $link-hover-color

#post_preview_input,
#stream_banner_input,
#team_logo_input,
  img
    width: 360px
    height: 200px

#carousel_image_input,
.carousel
  img
    width: 750px
    height: 200px

#partner_logo_input
  img
    width: 360px
    height: 75px

#partner_site_icon_input
  img
    width: 42px
    height: 42px

#member_photo_input
  img
    width: 360px
    height: 420px
