$event-bg: #1D2335

.homepage
  h3
    text-transform: uppercase

.spotlight,
.streams,
  margin-bottom: 30px

.news,
.videos
  margin-bottom: 10px

.spotlight
  margin-top: 20px

  img
    width: 100%
    max-width: 10

.streams
  background: url(/assets/streams_bg.png) no-repeat
  background-position: center
  background-color: #071221
  position: relative
  width: 100vw
  left: calc(-50vw + 50%)
  padding: 20px 0px 50px 0px

  h3
    margin-top: 0px
    margin-bottom: 20px

.events
  ul
    background: $event-bg

  li
    a
      padding: 2.3px 15px

  @media (min-width: 992px)
    margin-left: -15px
    padding: 0px
    background: $event-bg

  @media (max-width: 768px)
    [class*="col-"]
      padding: 4px
