$main-color:                                    #3B3D3D
$active-text-color:                             #4F68AF
$active-background-color:                       #26292A
$hover-tab-color:                               #A3A3A3
$tab-text-color:                                #E3E3E3

$body-bg:                                       #E9E9EA
$text-color:                                    #3B3D3D
$link-color:                                    #8D8D8D
$link-hover-color:                              $active-text-color
$link-hover-decoration:                         none
$font-family-base:                              'Exo 2', Helvetica, Arial, sans-serif
$border-radius-base:                            0

$navbar-default-bg:                             $main-color
$navbar-default-link-color:                     $tab-text-color
$navbar-default-link-hover-color:               $active-text-color
$navbar-default-link-active-color:              $active-text-color
$navbar-default-link-active-bg:                 $active-background-color

$btn-default-color:                             $main-color
$btn-default-bg:                                #ADADAD

$nav-tabs-justified-active-link-border-color:   $active-background-color
$nav-tabs-link-hover-border-color:              $main-color
$nav-tabs-active-link-hover-bg:                 $active-background-color
$nav-tabs-active-link-hover-color:              $active-text-color
$nav-tabs-justified-link-border-color:          $main-color
$nav-tabs-border-color:                         $active-background-color
$nav-link-hover-bg:                             #8D8D8D
$nav-disabled-link-color:                       $main-color
